.post {
	color: black;
	width: 600px;
	.date {
		font-size: 1rem;
		cursor: default;
		text-align: left;
		color: cadetblue;
	}
	.post-content {
		text-align: start;
		font-size: 1.5rem;
	}
	.show {
		opacity: 1;
		visibility: visible;
		top: 2rem;
		.btn {
			.icon {
				position: relative;
				bottom: 0px;
				transition: 0.2s all ease-in-out;
			}
			&:active {
				border-color: transparent !important;
				.icon {
					bottom: 7px;
					rotate: 12deg;
					scale: 1.3;
				}
			}
			position: relative;
		}

		.comments {
			.user-name {
				font-size: 0.75rem;
				text-align: left;
			}
			.date {
				font-size: xx-small;
			}
			.comment-body {
				width: 100%;
				margin-left: 1rem;
				font-size: 0.85rem;
				.user-name {
					text-align: left;
					width: fit-content;
				}
			}
			textarea {
				border: 1px solid lightgray;
				border-radius: 0.5rem;
				resize: none;
				width: 100%;
				&:focus-visible {
					outline: none;
				}
			}
		}
	}

	p {
		line-break: anywhere;
	}
}
