.add-new-post {
	background-color: white;
	color: #455a64;
	height: auto;
	.icon {
		color: gray;
	}
	//scrolll
	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	::-webkit-scrollbar-thumb {
		background: #888;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	textarea {
		border: 0;
		resize: none;
		width: 100%;
		padding-left: 10px;
		&:focus-visible {
			outline: none;
		}
		&::placeholder{
			padding: 10px;
			font-size: 18px;
		}
	}
	.btn:active {
		border-color: transparent !important;
	}
	&:has(textarea:focus) {
		box-shadow: 0px 1px 10px lightgray;
	}
	.alert {
		font-size: 1rem;
		padding: 0.4rem;
	}
}
